/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  //font-family: $sans-serif;
  //font-size: $body-font-size;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-width: 2px;
  border-radius: $border-radius;
  //border-color: $theme-main;
  cursor: pointer;

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }

  /* button colors */
  $buttoncolors:
  (theme, $site-background-color),
  (theme-filled, $theme-main),
  (inverse, $site-background-color),
  (light-outline, transparent),
  (success, $success-color),
  (warning, $warning-color),
  (danger, $danger-color),
  (info, $info-color),
  (facebook, $facebook-color),
  (twitter, $twitter-color),
  (google-plus, $google-plus-color),
  (linkedin, $linkedin-color);

  @each $buttoncolor, $color in $buttoncolors {
    &--#{$buttoncolor} {
      @include yiq-contrasted($color);
      
      @if ($buttoncolor == theme) {
        border: 2px solid $theme-main;
      }
      @if ($buttoncolor == inverse) {
        border: 2px solid $site-background-contrast-low;
      }
      @if ($buttoncolor == light-outline) {
        border: 2px solid $site-background-color;
      }

      &:hover {
        @include yiq-contrasted(mix($theme-black, $color, 33%));
      }

      &:visited {
        @include yiq-contrasted($color);
      }
    }
  }

  /* fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* disabled */
  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* extra large button */
  &--x-large {
    font-size: $h3-size;
  }

  /* large button */
  &--large {
    font-size: $h4-size;
  }

  /* small button */
  &--small {
    font-size: $h7-size;
  }
}